body {
	padding-left: 104px;
	padding-top: 59px;
}

ol {
	list-style: none;
}
li{
	margin-top: 14px;
	font-size: 24px;
	font-weight: 700;
	color: #8D81FF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer {
	margin-top: 35px;
}

.active {
	color: #4E6FAE;
}

.logo{
	margin-left: 40px;
}


h1{
    color: #4E6FAE;
    text-align: center;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 20px;
    text-align: center;
}